#experts{
    padding: 8vw 8vw 8vw 0;
    text-align: center;
}

#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#experts .expert-box .profile{
    background: #fafafa;
    padding: 30px 10px;
}

.pro-links{
    margin-top: 10px;
}

.pro-links i{
    padding: 10px 13px;
    border:  1px solid rgb(21,21,100);
    cursor: pointer;
    transition: 0.3 ease;
}

.pro-links i:hover{
    background-color: rgb(21,21,100);
    color: #fafafa;
    border:  1px solid rgb(21,21,100);
    cursor: pointer;
}